# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.KinematicaTest.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kdahi\OneDrive\Documents\Unity\KinematicaTest\.idea\.idea.KinematicaTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
